* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} 

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #05001a, #2b0040);
  color: white;
} 

.en-tête {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.gauche h1 {
  font-size: 40px;
  line-height: 1.2;
} 

.sous-titre {
  margin-top: 10px;
  color: gray;
}

.droite {
  font-style: italic;
  color: #bbbbbb;
  line-height: 1.5;
} 

/*compétences*/

.comp {
  display: flex;
  justify-content: center ;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
}

.comp img {
  width: 70px;
} 

/*boutons*/

.boutons {
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 30px;
  margin-bottom: 50px;
}

.bouton-aligné {
  display: flex;
  gap: 30px;
}

.btn {
  padding: 15px 40px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.2s;
  background-color: #3f72af;
} 
